/* GLOBAL */

* {
	font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
	margin: 0px;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
    border: 1px solid black;
    overflow: hidden;
	text-align: center;
	font-size: 12px;
}

/* FORM TOGGLE BUTTONS */

.toggle-form-buttons {
	text-align: center;
}

.new-entry-button  {
	background-color: #3582ff; /* Blue */
    border: 1px solid black;
	border-radius: 4px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.new-entry-button:hover {
	background-color: #5e9aff;
	cursor: pointer;
}

/* ENTRY FORM */

.new-entry {
	display: none;
}

.form {
    text-align: center;
}

.project-info {
    margin: 0px 0px 15px 0px;
}

.use-info {
    margin: 0px 0px 15px 0px;
}

.location-info {
    margin: 0px 0px 15px 0px;
}

.file-info {
    margin: 0px 0px 30px 0px;
}

.field {
	display: inline-block;
}

/* SUBMIT BUTTON */

.submit-button {
    margin: 0px 0px 15px 0px;
}

#submit {
    background-color: #3582ff; /* Blue */
    border: 1px solid black;
	border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#submit:hover {
	background-color: #5e9aff;
	cursor: pointer;
}

/* MAP and TABLE */

.map-wrapper {
    width: 100%;
    margin: 0px auto;
	display:block;
	overflow:auto;
}

.project-map {
    width: 70%;
    float: left;
}

.project-table {
    width: 30%;
    float:right;
}

.table-header {
	font-weight: bold;
	height: 22px;
}

.table-body {
	height:578px;
	overflow: auto;
}

.table-row:hover {
	background-color: #5e9aff;
}

#delete {
	background-color: white;
    border: 1px solid black;
	border-radius: 12px;
    color: red;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

#delete:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}

/* FOOTER */

.footer {
	padding: 25px 0px 10px 0px;
	text-align: center;
	font-size: 12px;
}