<!DOCTYPE html>
    <html>
    <head>
		<title>ProjectDB</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{{mymap.js}}
    </head>
    <body>
        <h1>ProjectDB</h1>
		<div class="new-entry">
			<h2>New Project Entry</h2>
			<div class="form">
				<form action="." method="POST" enctype="multipart/form-data">
					<div class="project-info">
						<div class="field">
							<p>Project Name</p>
							<input id="inputName" type="text" name="name" required>
						</div>
						<div class="field">
							<p>Project Number</p>
							<input type="text" name="number">
						</div>
						<div class="field">
							<p>Year</p>
							<input type="text" name="year" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
						</div>
					</div>
					<div class="use-info">
						<div class="field">
							<p>Land Use(s) - Use 1, Use 2, etc.</p>
							<input type="text" name="uses">
						</div>
					</div>
					<div class="location-info">
						<div class="field">
							<p>Latitude</p>
							<input id="lat-text" type="text" name="lat" required>
						</div>
						<div class="field">
							<p>Longitude</p>
							<input id="lng-text" type="text" name="lng" required>
						</div>
						<input id="loc-button" type="button" name="loc-button" value="+"/>
					</div>
					<div class="file-info">
						<div id="file-field" class="field">
							<p>File(s)</p>
							<div>
								<input type="file" name="file-1">
							</div>
						</div>
						<div>
							<input id="file-button" type="button" name="file-button" value="New File"/>
						</div>
					</div>
					<div class="submit-button">
						<input id="submit" type="submit" name="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="map-wrapper">
			<div class="project-map">
				<h2>Project Map</h2>
				<div class="map">
					{{mymap.html}}
				</div>
			</div>
			<div class="project-table">
				<h2>Project Table</h2>
				<div class="table-header">
					<table>
						<tr>
							<td width="40%">Project</td>
							<td width="16%">Number</td>
							<td width="10%">Year</td>
							<td width="34%">Land Use(s)</td>
						</tr>
					</table>
				</div>
				<div class="table-body">
					<table>
					{% for item in data %}
						<tr id="">
							<td width="40%" style="text-align:left;">{{item[1]}}</td>
							<td width="16%">{{item[2]}}</td>
							<td width="10%">{{item[3]}}</td>
							<td width="25%">{{item[4]}}</td>
							<form action="." method="POST" onsubmit="return confirm('Are you sure you want to delete this project? It cannot be restored once deleted.')">
								<td width="9%"><button id="delete" type="submit" name="submit" value="{{item[0]}}">X</button></td>
							</form>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Contact <a href="mailto:codonnell@vhb.com">
			codonnell@vhb.com</a> for assistance.</p>
		</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>